$brand-primary: #4683bf;

$navbar-padding: 25px;
$content-background: #f8f8f8;

$card-border: solid 1px #d2d2d2;
$card-background: #fff;
$card-padding: 15px 0;
$card-margin-top: 10px;

$sm-width: 544px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
