@import "../node_modules/react-image-crop/lib/ReactCrop";
@import "styles/variables.scss";
@import "styles/navigation";
@import "styles/content";
@import "styles/home";
@import "styles/user";
@import "styles/notifications";
@import "styles/meetings";

html, body, #react-container, #react-container>div{
  height: 100%;
  overflow: hidden;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.clickable{
  cursor: pointer;
}
