@import "styles/variables.scss";
@import "styles/navigation";
@import "styles/content";
@import "styles/home";

html, body, #react-container, #react-container>div{
  height: 100%;
}

.row{
  margin-left: 0;
  margin-right: 0;
}
